/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Navbar styling */
.navbar {
  background-color: #ffe0b5;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .brand-logo {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
} */

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  font-size: 1.7rem;
  color: #000000;
  text-decoration: none;
  padding: 8px 16px;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  color: #ffffff;
  background-color: #d8ae7e;
  border-radius: 10px;
}

.login-button {
  font-size: 1.7rem;
  color: #fff;
  text-decoration: none;
  background-color: #6f4e37;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #ff7d29;
  color: #ffffff;
}
.brand-logo img {
  height: 60px; /* Adjust the height as needed */
}
.logout-button {
  font-size: 1.7rem;
  color: #fff;
  text-decoration: none;
  background-color: #cf3224;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #ff7d29;
  color: #ffffff;
}
